@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


a {
  color: black !important;
}
@media only screen and (max-width:560px){
  #nav-mobile{
      visibility: hidden;
  }
  .brand-logo{
    font-family: 'Grand Hotel', cursive;
    margin-left: 38%;
    
  }
  
}
@media only screen and (min-width:560px){
  .sidenav-trigger{
      visibility: hidden;
  } 
  .brand-logo{
    font-family: 'Grand Hotel', cursive;
    margin-left: 10px;
    
  }

  
}

#profilediv{
  display:flex;
  margin: 30px 30px 20px;
}

#profileimagediv{
  margin: 0px 20px
}
#profileimage{
  width: 160px;
  height:160px;
  border-radius:80px;
}
#profilename{
  font-size: 2.28rem;
}
#profiletextdiv{
  display: flex;
  justify-content: space-between;
  width: 108%;
  margin:0px 10px 0px;

}

@media only screen and (max-width:495px){
  #profileimage{
   width: 130px;
   height:130px;
   border-radius:80px;
  }
  #profileimagediv{
   margin: 0px 10px;
  }
  #profilediv{
    margin: 10px 10px 10px
  }
  #profilename{
    font-size: 1.7rem;
  }

  #profiletext{
    font-size: 1rem
  }

  #profiletextdiv{
    margin:0px 20px;
  }
 
   
 }

@media only screen and (max-width:438px){
  #profileimage{
   width: 110px;
   height:110px;
   border-radius:80px;
  }
  #profileimagediv{
    margin: 0px 10px;
   }
  #profilediv{
    margin: 10px 10px 10px
  }
  #profilename{
    font-size: 1.5rem;
  }

  #profiletext{
    font-size: 1rem;

  }

  #profiletextdiv{
    margin:0px 20px;
  }
  
   
 }


#bb{
  font-size: 20px;
}

.card-content #pp {
  margin: 15px !important;
}
#pp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 390px;
  min-height: 20px;
}

#prof{
  width: 100%;

}
#gallery-image{
  margin-bottom: 10px;
}
#emailstate{
  color: red !important;
  -webkit-box-align: left !important;
  
}
#log-out{
  margin-left: 25px;
}


.mycard{
  margin: 30px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}
.home-card {
  max-width: 500px;
  height: max-content;
  margin: 20px auto;
}

#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover{
  cursor: pointer;
}

#body{
  display: inline-block;
}